---
layout: default
---


<section class="min-h-100">

</section>

<section>
  <div class="pb-5p gap-8 max-w-screen-2xl mx-auto grid scary-grid items-end gap-y-16">
    {% for prop in site.property %}
      <a href="{{prop.url}}">
        <h2 class="vertical-text h-12">{{prop.title}}</h2>
        <div class="flex items-center justify-between">
          <div class='max-w-[3rem]'>
            {% include arrow.html color='#000' %}
          </div>
          <div class="w-8 h-8 flex-shrink-0 ml-4 bg-black inline-block rounded-full bottom-8 right-8"></div> 
        </div>
      </a>
      <a href="{{prop.url}}" class="aspect-landscape-wide relative gallery-scroll" style="scale: .5;">
        <img src="{{prop.featured_image}}" alt="building" class="img-overlay">
      </a>
    {% endfor %}
  </section>
  

  <script>
   
  </script>


<section class="min-h-100">

</section>