<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  <section class="flex justify-center items-center bg-cover bg-center min-h-90" style="background-image: url(https://picsum.photos/id/1076/600/400);">
    <div class="text-white">
      <h1>lorem</h1>
      <h2>ipsum</h2>
    </div>
    <div class="absolute bg-white top-5p right-5p w-8 h-8 rounded-full">
      
    </div>
  </section>
  <header class="sticky top-0 p-5p bg-white border-b border-black z-50">
    <div class="flex justify-between max-w-screen-lg">
      <nav>
        <a href="" class="logo">baro architecture</a>
      </nav>
      <nav>
        <a href="" class="p-4">about</a>
        <a href="" class="p-4">portfolio</a>
        <a href="/contact" class="p-4">contact</a>
      </nav>

    </div>
  </header>

  {{content}}
</body>
</html>